@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 15px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

